.container {
    background-color: var(--background);
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 6px 6px 6px var(--dark-base);
    padding: 35px;
}

.intro {
    display: flex;
    align-items: center;
}

.intro p {
    display: inline-block;
}

.logo {
    max-height: 24px;
    vertical-align: bottom;
    padding-left: 10px;
}

header h1 {
    font-weight: 700;
    font-size: 34px;
    color: var(--text-color);
    margin: 10px 0;
}

header a {
    text-decoration: none;
    color: #1c1c1c;
}

header p {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.perfil-container {
    height: 160px;
    width: 160px;
    position: relative;
    margin-right: 30px;
    transition-duration: 0.2s;
}

.perfil-animation {
    height: 160px;
    width: 160px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--base-color),
        var(--projects),
        var(--background),
        var(--projects),
        var(--base-color)
    );
    left: -1.5%;
    top: -1.5%;
    z-index: 1;
    animation: spin 5s linear infinite;
}

.info-container .certification {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
    color: var(--base-color);
}

.info-container .certification::after {
    content: "";
    background-color: var(--base-color);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 40%;
    transition: 0.2s;
}

.info-container .certification:hover::after {
    width: 100%;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 20px;
}

.info-resume p {
    text-decoration: underline;
    font-size: 20px;
}

.info-resume:hover a {
    color: var(--base-color);
    font-size: 21px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.fotoPerfil {
    height: 155px;
    width: 155px;
    box-shadow: 4px 4px 4px var(--dark-base);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

a img:hover {
    transform: scale(1.1);
}

.perfil-container:hover {
    transform: scale(1.1);
}

h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding-bottom: 15px;
}
